.category{
    width: 650px!important;
    height:300px!important;
    padding: 30px;
}


.top-rated{
    border: rgb(0, 140, 255) 2px solid;  
}


.card-title{
    color:white;
    text-align: center;
    vertical-align: middle;
}


.position-relative > div {
    position: relative;
    flex: 0 0 45%
}

.position-relative > div {
    position: relative;
    flex: 0 0 45%
}

.position-relative > div {
    position: relative;
    flex: 0 0 45%
}

.position-relative > div {
    position: relative;
    flex: 0 0 45%
}

.container.pt-4.pt-xl-5 {
}

.row.pt-5 {
}

.col-md-8.col-xl-6.text-center.text-md-start.mx-auto {
}

.text-center {
}

.fw-bold.text-success.mb-2 {
}

.fw-bold {
}

.col-12.col-lg-10.mx-auto {
}

.position-relative {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 40px;
}

.img-fluid.category {
}

.card-img-overlay.h-100.d-flex.flex-column.justify-content-end {
}

.card-title {
    color: white;
}

.position-relative > div {
    position: relative;
    flex: 0 0 45%
}

.position-relative > div {
    position: relative;
    flex: 0 0 45%
}

.position-relative > div {
    position: relative;
    flex: 0 0 45%
}

.position-relative > div {
    position: relative;
    flex: 0 0 45%
}

.container.pt-4.pt-xl-5 {
}

.row.pt-5 {
}

.col-md-8.col-xl-6.text-center.text-md-start.mx-auto {
}

.text-center {
}

.fw-bold.text-success.mb-2 {
}

.fw-bold {
}

.col-12.col-lg-10.mx-auto {
}

.position-relative {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 40px;
}

.img-fluid.category {
}

.card-img-overlay.h-100.d-flex.flex-column.justify-content-end {
}

.card-title {
    color: white;
}

.position-relative > div {
    position: relative;
    flex: 0 0 45%
}

.position-relative > div {
    position: relative;
    flex: 0 0 45%
}

.position-relative > div {
    position: relative;
    flex: 0 0 45%
}

.position-relative > div {
    position: relative;
    flex: 0 0 45%
}

.container.top-rated > h2 {
    margin-top: 52px;
    margin-left: 34px;
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
    font-weight: 800;
    line-height: 32px;
    color: rgb(0, 0, 0);
    text-align: center;
}

.cust_bloglistintro > p {
    margin-left: 34px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

.col-md-4.cust_blogteaser > h3 {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-right: 0;
    margin-left: 24px;
    line-height: 34px;
    letter-spacing: 0px;
    font-style: normal;
    font-weight: bold;
}

.col-md-4.cust_blogteaser > h3 {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-right: 0;
    margin-left: 24px;
    line-height: 34px;
    letter-spacing: 0px;
    font-style: normal;
    font-weight: bold;
}

.col-md-4.cust_blogteaser > h3 {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    margin-right: 0;
    margin-left: 24px;
    line-height: 34px;
    letter-spacing: 0px;
    font-style: normal;
    font-weight: bold;
}

#mainNav {
}

#navcol-1 {
}

#name-1 {
}

#email-1 {
}

#message-1 {
}

.container {
}

.navbar-brand.d-flex.align-items-center {
}

.bs-icon-sm.bs-icon-circle.bs-icon-primary.shadow.d-flex.justify-content-center.align-items-center.me-2.bs-icon {
}

.bi.bi-bezier {
}

.navbar-toggler {
}

.visually-hidden {
}

.navbar-toggler-icon {
}

.navbar-nav.mx-auto {
}

.nav-item {
}

.nav-link.active {
}

.nav-link {
}

.btn.btn-primary.shadow {
}

.bg-primary-gradient.pt-5 {
}

.container.pt-4.pt-xl-5 {
}

.row.pt-5 {
}

.col-md-8.col-xl-6.text-center.text-md-start.mx-auto {
}

.text-center {
}

.fw-bold.text-success.mb-2 {
}

.fw-bold {
}

.col-12.col-lg-10.mx-auto {
}

.position-relative {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-top: 40px;
}

.img-fluid.category {
}

.card-img-overlay.h-100.d-flex.flex-column.justify-content-end {
}

.card-title {
    color: white;
}

.py-5 {
}

.container.text-center.py-5 {
}

.mb-4 {
    font-size: 1.6rem
}

.bg-success-light.p-1 {
}

.m-3 {
}

.card.bg-inverse {
}

.card-header.text-center {
}

.card-img {
    width: 400px;
    height: 300px;
}

.container.top-rated {
}

.cust_bloglistintro {
}

.row {
}

.col-md-4.cust_blogteaser {
    padding-bottom: 20px;
    margin-bottom: 32px
}

.img-fluid {
    height: auto
}

.stars {
    text-align: center;
    margin-top: 5px;
}

.fa.fa-star.checked {
}

.fa.fa-star {
}

.text-secondary {
    text-align: left;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    line-height: 22px;
    color: rgb(9, 9, 10);
    margin-left: 24px;
}

.h4 {
}

.fa.fa-arrow-circle-right {
    margin-left: 23px
}

.container.bg-primary-gradient.py-5 {
}

.col-md-8.col-xl-6.text-center.mx-auto {
}

.py-5.p-lg-5 {
}

.row.row-cols-1.row-cols-md-2.mx-auto {
    max-width: 900px
}

.col.mb-5 {
}

.card.shadow-sm {
}

.card-body.px-4.py-5.px-md-5 {
}

.bs-icon-lg.d-flex.justify-content-center.align-items-center.mb-3.bs-icon {
    top: 1rem;
    right: 1rem;
    position: absolute
}

.bi.bi-bell {
}

.fw-bold.card-title {
}

.text-muted.card-text.mb-4 {
}

.col.mb-4 {
}

.bi.bi-pin-angle {
}

.bi.bi-chat-quote {
}

.container.py-5 {
}

.mx-auto {
    max-width: 900px
}

.row.row-cols-1.row-cols-md-2.d-flex.justify-content-center {
}

.card.bg-primary-light {
}

.card-body.text-center.px-4.py-5.px-md-5 {
}

.fw-bold.text-primary.card-text.mb-2 {
}

.fw-bold.card-title.mb-3 {
}

.btn.btn-primary.btn-sm {
}

.card.bg-secondary-light {
}

.fw-bold.text-secondary.card-text.mb-2 {
}

.btn.btn-secondary.btn-sm {
}

.card.bg-info-light {
}

.fw-bold.text-info.card-text.mb-2 {
}

.btn.btn-info.btn-sm {
}

.py-5.mt-5 {
}

.row.mb-5 {
}

.text-muted.w-lg-50 {
}

.row.row-cols-1.row-cols-sm-2.row-cols-lg-3.d-sm-flex.justify-content-sm-center {
}

.d-flex.flex-column.align-items-center.align-items-sm-start {
}

.bg-light.border.rounded.border-light.p-4 {
}

.d-flex {
}

.rounded-circle.flex-shrink-0.me-3.fit-cover {
}

.fw-bold.text-primary.mb-0 {
}

.text-muted.mb-0 {
}

.row.d-flex.justify-content-center {
}

.col-md-6.col-xl-4 {
}

.p-3.p-xl-4 {
}

.mb-3 {
}

.btn.btn-primary.shadow.d-block.w-100 {
}

.col-md-4.col-xl-4.d-flex.justify-content-center.justify-content-xl-start {
}

.d-flex.flex-wrap.flex-md-column.justify-content-md-start.align-items-md-start.h-100 {
}

.d-flex.align-items-center.p-3 {
}

.bs-icon-md.bs-icon-circle.bs-icon-primary.shadow.d-flex.flex-shrink-0.justify-content-center.align-items-center.d-inline-block.bs-icon.bs-icon-md {
}

.bi.bi-telephone {
}

.px-2 {
}

.fw-bold.mb-0 {
}

.bi.bi-envelope {
}

.bi.bi-pin {
}

.border.rounded.border-white.d-flex.flex-column.justify-content-between.align-items-center.flex-lg-row.bg-primary-gradient.p-4.p-lg-5 {
}

.text-center.text-lg-start.py-3.py-lg-1 {
}

.fw-bold.mb-2 {
}

.mb-0 {
}

.d-flex.justify-content-center.flex-wrap.flex-lg-nowrap {
}

.my-2 {
}

.border.rounded-pill.shadow-sm.form-control {
}

.btn.btn-primary.shadow.ms-2 {
}

.bg-primary-gradient {
}

.container.py-4.py-lg-5 {
}

.row.justify-content-center {
}

.col-sm-4.col-md-3.text-center.text-lg-start.d-flex.flex-column.item {
}

.fs-6.fw-bold {
}

.list-unstyled {
}

.col-lg-3.text-center.text-lg-start.d-flex.flex-column.align-items-center.order-first.align-items-lg-start.order-lg-last.item.social {
}

.fw-bold.d-flex.align-items-center.mb-2 {
}

.bs-icon-sm.bs-icon-circle.bs-icon-primary.d-flex.justify-content-center.align-items-center.bs-icon.me-2 {
}

.text-muted.copyright {
}

.text-muted.d-flex.justify-content-between.align-items-center.pt-3 {
}

.list-inline.mb-0 {
}

.list-inline-item {
}

.bi.bi-facebook {
}

.bi.bi-twitter {
}

.bi.bi-instagram {
}