.filtr-controls {
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    margin: 30px 0 15px;
  }
  
  
  .filtr-controls span.active:after {
    width: 100%;
    left: 0;
    background: #000;
  }
  
  .filtr-controls span:hover, .filtr-controls span.active {
    color: #000;
  }
  
  


.filtr-controls span:after {
  content: ' ';
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  background: transparent;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
}


.filtr-controls span.active:after {
    width: 100%;
    left: 0;
    background: #000;
  }
  
  
.filtr-controls span {
    display: inline-block;
    margin: 10px 15px;
    cursor: pointer;
    padding: 5px 0;
    position: relative;
    color: #777;
  }

  .filtr-container {
    margin: 0 -4px;
  }
  
  .filtr-item {
    padding: 4px;
  }
  
  
  
  

